.info-block {
  padding: 20px;
  background: var(--dark2);
  border-radius: 20px;
  width: 100%;
  color: var(--light-1);
  font-family: var(--second-family);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;

    @media (max-width: 700px) {
      flex-direction: column-reverse;
    }

    &-left {
      max-width: 470px;
      & h1 {
        font-size: 36px;
        @media (max-width: 930px) {
          font-size: 24px;
        }

        & span {
          color: var(--red-1);
        }
      }

      & p {
        margin-top: 12px;
        font-family: var(--second-family);

        font-size: 24px;
        @media (max-width: 930px) {
          font-size: 16px;
        }
        color: var(--light-1);
      }
    }

    &-right {
      border-radius: 4px;
      padding: 8px 20px 8px 8px;
      background: var(--red-1);

      position: relative;
      @media (min-width: 771px) {
        max-width: 263px;
      }

      @media (max-width: 700px) {
        width: 100%;
      }

      & h3 {
        font-size: 24px;
        @media (max-width: 930px) {
          font-size: 16px;
        }
      }

      & p {
        margin-top: 8px;
        font-size: 16px;
        @media (max-width: 930px) {
          font-size: 12px;
        }
      }

      & button {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background: var(--light-1);

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: -8px;
        right: -8px;

        transition: background-color 0.3s ease;

        & svg {
          & path {
            transition: fill 0.3s ease;
          }
        }

        &:hover {
          background: var(--light-1-hover);
        }

        &:active {
          & svg {
            & path {
              fill: var(--red-1-dark);
            }
          }
        }
      }
    }
  }

  &__content {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    & li {
      background: var(--dark-1-80);
      border-radius: 4px;
      padding: 10px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--light-1);
    }
  }
}
